.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 100px 300px;
}
.square {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}
.cube1 {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  animation: cube1 5s linear 1s infinite;
}

@keyframes cube1 {
  0% {
    transform: skewX(0deg);
  }
  33% {
    transform: skewX(15deg);
  }
  66% {
    transform: skewX(-15deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

.cube2 {
  width: 100px;
  height: 100px;
  background-color: orangered;
  animation: cube2 5s linear 1s infinite;
}

@keyframes cube2 {
  0% {
    transform: skewY(0deg);
  }
  33% {
    transform: skewY(15deg);
  }
  66% {
    transform: skewY(-15deg);
  }
  100% {
    transform: skewY(0deg);
  }
}

.cube3 {
  width: 100px;
  height: 100px;
  background-color: #669999;
  animation: cube3 5s linear 1s infinite;
  transform: rotate(360deg);
}

@keyframes cube3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cube1-4 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  animation: cube1-4 5s linear 1s infinite;
}

@keyframes cube1-4 {
  0% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.5);
  }
}

.cube2-4 {
  width: 100px;
  height: 100px;
  background-color: #3366ff;
  animation: cube2-4 5s linear 1s infinite;
}

@keyframes cube2-4 {
  0% {
    transform: scaleX(0.5);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.5);
  }
}

.cube3-4 {
  width: 100px;
  height: 100px;
  background-color: red;
  animation: cube3-4 5s linear 1s infinite;
}

@keyframes cube3-4 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

* {
  margin: 0;
  background-color: greenyellow;
}
